@{
  Layout = "_Layout";
}

<h1>Welcome to the To Do List!</h1>
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("See all items", "Index", "Items")</p>

@*
1. parameter is the display text for the link
2. parameter is the target actin in the controller
3. parameter is optional and it routes to another controller. "Items" means ItemsController*@